@model FillOrderViewModel

<h3>Sjekkliste</h3>
<hr class="custom-hr" />

@section Styles {
    <link rel="stylesheet" href="~/css/checklist.css" asp-append-version="true">
}
<div class="custom-title">Oppsummering av serviceordre</div>
    <section class="order-info">
        <!-- OrderId -->
        <div>
            <label asp-for="OrderId" class="control-label">Ordrenummer: </label>
            <span>@Model.OrderId</span>
        </div>
        <!-- CustomerId -->
        <div>
        <label asp-for="CustomerId" class="control-label">Kundenummer: </label>
            <span>@Model.CustomerId</span>
        </div>
        <!-- Product Name -->
        <div>
        <label asp-for="ProductName" class="control-label">Produktnavn: </label>
            <span>@Model.ProductName</span>
        </div>
        <!-- Product Type -->
        <div>
        <label asp-for="ProductT" class="control-label">Produkttype: </label>
            <span>@Model.ProductT</span>
        </div>
        <!-- Order Status -->
        <div>
        <label asp-for="OrderStatus" class="control-label">Ordrestatus: </label>
            <span>@Model.OrderStatus</span>
        </div>
        <!-- When was it Received? -->
        <div>
        <label asp-for="OrderReceived" class="control-label">Ordre mottatt: </label>
            <span>@Model.OrderReceived</span>
        </div>
        <!-- Customer Comment -->
        <div>
        <label asp-for="OrderDescription" class="control-label">Ordrebeskrivelse: </label>
            <span>@Model.OrderDescription</span>
        </div>
    </section>
<hr />

    <form id="order_form" asp-controller="ServiceOrders" asp-action="SaveFilledOrder" method="post">

        <section id="checklistSection">
            @{ ViewData.TemplateInfo.HtmlFieldPrefix = "UpdWinchlist"; }
            <partial name="_WinchChecklistPartial" model="@Model.UpdWinchlist" />
            @{ ViewData.TemplateInfo.HtmlFieldPrefix = ""; }
        </section>
        <!-- RepairComment -->
        <div class="form-group">
        <label asp-for="RepairComment" class="form-label control-label">Reperasjonsbeskrivelse</label>
            <textarea class="form-control" asp-for="RepairComment"></textarea>
            <span asp-validation-for="RepairComment" class="text-danger"></span>
        </div>
        <!-- Work Hours used -->
        <div class="form-group">
        <label asp-for="WorkHours" class="control-label">Arbeidstimer brukt</label>
            <input asp-for="WorkHours" class="form-control">
            <span asp-validation-for="WorkHours" class="text-danger"></span>
        </div>
        <!-- RepairComment -->
        <div class="form-group">
        <label asp-for="MechSignature" class="control-label">Signatur: </label>
            <input asp-for="MechSignature" class="form-control" />
            <span asp-validation-for="MechSignature" class="text-danger"></span>
        </div>

    <button type="submit" class="btn-custom-checklist">Ferdigstill Ordre</button>

        <input type="hidden" asp-for="OrderId" />
        <input type="hidden" asp-for="CustomerId" />
        <input type="hidden" asp-for="ProductName" />
        <input type="hidden" asp-for="ProductT" />
        <input type="hidden" asp-for="OrderStatus" />
        <input type="hidden" asp-for="OrderReceived" />
        <input type="hidden" asp-for="OrderCompleted" />
        <input type="hidden" asp-for="OrderDescription" />
    </form>

@section Scripts {
    <script src="/js/serviceorder.js"></script>
}