<!-- To display a single service order with its checklist when a mechanic selects it -->
@model ServiceOrderModel

<h1>View Service Order</h1>

@section Styles {
    <link rel="stylesheet" href="~/css/Checklist.css" asp-append-version="true">
}


<form asp-action="SaveCompletedOrder" method="post">
    <!-- Display Static Order Info -->
    <section class="order-info">
        <section class="left-panel">
            <!-- Left panel -->
            <div>
                <label>Serviceordre ID</label> <!-- Serviceordre ID (int) -->
                <input type="text" readonly value="@Model.ServiceOrderID" />
            </div>

            <div>
                <label>Kunde ID</label> <!-- Kunde ID (int)-->
                <input type="text" readonly value="@Model.Customer!.CustomerID" />
            </div>

            <div>
                <label>Produktnavn</label> <!-- Produktnavn (f.eks "Igland 2501") -->
                <input type="text" readonly value="@Model.ProductName" />
            </div>

            <div>
                <label>Produkttype</label> <!-- Produkttype (f.eks "Vinsj") -->
                <input type="text" readonly value="@Model.ProductType" />
            </div>
        </section>
        <!-- Right panel -->
        <section class="right-panel">
            <div>
                <label>Status for Serviceordre</label> <!-- Ordrestatus (f.eks 'Uåpnet' eller 'Fullført')-->
                <input type="text" readonly value="@Model.ServiceOrderStatus" />
            </div>
            <div>
                <label>Mottatt Ordre Dato</label> <!-- Opprettet Dato -->
                <input type="text" readonly value="@Model.OrderRecieved" />
            </div>
            <div>
                <label>Ordre Utført Dato</label> <!-- Utført Dato -->
                <input type="text" readonly value="@Model.OrderCompleted" />
            </div>
        </section>
    </section>
    
    <section class="customer-comments">
        <h2>Kundens Problembeskrivelse</h2> <!-- Kundens  -->
        <textarea readonly>@Model.CustomerComment</textarea>
    </section>

    <!-- Checklist Section -->
    <section id="checklistSection">
        <table class="table table-bordered mb-3" id="checklistTable">
            <thead>
                <tr>
                    <th>Kategorier</th>
                    <th>Sjekkpunkter</th>
                    <th>OK</th>
                    <th>Bør Skiftes</th>
                    <th>Defekt</th>
                </tr>
            </thead>
            <tbody id="itemRows">
                <!-- Genereres av JS-filen-->
            </tbody>
        </table>

        <!-- Mekaniker kommentar -->
        <div class="mb-3">
            <label for="RepairDescription" class="form-label">Beskrivelse av Reparasjoner</label>
            <textarea class="form-control" id="RepairDescription" name="RepairDescription"></textarea>
        </div>
    </section>

    <button type="submit" class="btn btn-success">Ferdigstill Ordre</button>
</form>


@section Scripts {
    <script src="~/js/categoryitems.js"></script>
    <script src="/js/serviceorder.js"></script>
}