@model Noested.Models.ServiceOrderModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ServiceOrder</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderRecieved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderRecieved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderCompleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderCompleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Warranty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Warranty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepairDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepairDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ServiceOrderID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
