@model IEnumerable<Noested.Models.ServiceOrder>
<!-- Displays all service orders for mechanics to view.
    For mechanics: The Index action method will load the Index.cshtml View where all the Service Orders will be listed.
    Each of these will have a link to open it in a new window using the ViewOrder action,
    which will load the ViewOrder.cshtml view, complete with the checklist.-->

@section Styles {
    <link rel="stylesheet" href="~/css/serviceOrder.css">
}

<h1>Alle Serviceordre</h1>
<div class="container-fluid">
    <div class="row">
        <!-- Left Empty Column -->
        <div class="col-md-2"></div>

        <!-- Middle Column -->
        <div class="col-md-8">
            <h1>Service Orders</h1>
            <div class="service-order-list overflow-auto">
                <!-- Service order loop -->
                @foreach (var order in Model)
                {
                    <section class="service-order-item">
                        <a href="@Url.Action("ViewOrder", "ServiceOrders", new { id = order.OrderId })">
                            <!-- "ViewNavn(.cshtml)", "View") -->
                            <div>
                                Ordre Opprettet: @order.OrderReceived
                            </div>
                            <div>
                                Ordrenummer: @order.OrderId
                            </div>
                            <div>
                                Kundenummer: @order.CustomerId
                            </div>
                            <div>
                                Produktnavn: @order.ProductName
                            </div>
                            <div>
                                Produkttype: @order.ProductType
                            </div>
                            <div>
                                Ordrestatus: @order.Status
                            </div>
                        </a>
                    </section>
                }
            </div>
        </div>

        <!-- Right Empty Column -->
        <div class="col-md-2"></div>
    </div>
</div>
