@model Noested.Models.ViewModels.UserListViewModel

@{
    ViewData["Title"] = "Index";
}

<h3>Bruker administrasjon</h3>

<p>
<a asp-controller="Users" asp-action="Register">Registrer bruker</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>

                <td>
                    <a asp-controller="Users" asp-action="Edit" asp-route-UserId="@item.UserId">Rediger</a> 
                    <a asp-controller="Users" asp-action="Details" asp-route-UserId="@item.UserId">Detaljer</a> 
                    <a asp-controller="Users" asp-action="Delete" asp-route-UserId="@item.UserId">Slett</a>
                </td>
            </tr>
        }
    </tbody>
</table>