@{
    ViewData["Title"] = "Delete";
}

<h3>Bekreft sletting av kunde:</h3>

<p>@Model.FirstName @Model.LastName</p>


<div>

    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">Delete</button>

    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Bekreft sletting</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Er du sikker på at du vil slette kunden <strong>@Model.FirstName @Model.LastName</strong> fra systemet?
                </div>
                <div class="modal-footer">
                    <form asp-action="DeleteConfirmed" asp-route-id="@Model.CustomerId" method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Ja, Slett</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nei, Avbryt</button>
                </div>
            </div>
        </div>
    </div>

    <a asp-action="Index">Back to List</a>
</div>
